.searchBar{
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}
.searchBar input{
    width: 200px;
    color: #fff;
    background-color: #1d2227;
    padding: 15px 15px 13px;
    border: 2px solid #0b708a;
}
.searchBar input:focus{
    outline: none;
}
.searchBar button{
    height: 45px;
    border: 2px solid #c77129;
    background-color: #1d2227;
    color: #c77129;
    box-sizing: border-box;
    border-radius: 0 30% 30% 0;
    font-size: 30px;
    padding: 6px 15px 0;

}
.searchBar ul{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    width: 280px;
    padding: 0;
    top: 45px;
    overflow-y: scroll;
    list-style-type: none;
    max-height: 150px;
    background-color: #1d2227;
}
.searchBar ul li{
    padding: 10px 0;
}