.App {
  text-align: center;
  background-image: url("./assets/img/Screen_Shot_2019-08-29_at_2.44.51_PM.jpg");
  background-position: 0px -100px;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
}
@font-face {
  font-family: FrizQuadrataStd;
  src: url('./assets/fonts/Friz Quadrata Std Regular.otf') format("opentype");
}
.App *{
  font-family: FrizQuadrataStd;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tableContainer{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.scrollable{
  overflow-x: scroll;
}
.initAgain{
  position: relative;
  top: 100px;
  margin-bottom: 18px;
  padding: 6px 12px 4px;
  background-color: #1d2227;
  color: white;
  border: solid 2px #0b708a;
  animation-name: initAgainShow;
  animation-duration: 0.5s;
  transition: 0.2s;
  box-shadow: 3px 3px #074a5b;
}
.initAgain:active{
  box-shadow: 0.2px 0.2px #074a5b;
}
.initWin{
  animation-name: winSpin;
  animation-duration: 1.5s;
}
@keyframes winSpin {
  0% {transform: rotate(0deg); scale: 1}
  100% {transform: rotate(360deg); scale: 0}
}
@keyframes initAgainShow {
  0% {opacity: 0}
  100% {opacity: 1}
}
@media only screen and (min-width: 600px){
  .scrollable{
    overflow-x: unset;
  }
}


h1 {
  font-size: 70px; /* You can adjust the size as needed */
  margin-top: 0px;
  background-color: #1d2227;
  color: #074a5b;
  -webkit-text-stroke: 0.01px #c77129;

}

.loading{
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  position: fixed; /* Fixed position to cover the entire screen */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background */
  z-index: 9999; /* Optional: ensure the loader is on top of other content */

}
